mat-toolbar{
    position: fixed;
    top: 0;
    z-index:1;
    width: 100%;
}
.title{
    text-decoration: none;
    color: white;
    font-family: 'ailerons-typeface';
    font-size: xx-large;
    font-weight: bold;
}

.example-spacer {
    flex: 1 1 auto;
  }

  
@media (max-width: 768px) {

   .title{
       font-size: x-large;
   }
   
   .example-spacer{
       flex: 0 0 auto;
   }
     
   }