<div class="container">
    <h1 class="title has-text-centered">Commentaires</h1>
</div>

<div class="block">
    <div class="container ">
        <form  #formDirective="ngForm" (submit)="postComment(formDirective)">
            <div class="form-container">
                <mat-form-field class="example-full-width pseudo">
                    <input matInput [(ngModel)]="comment.pseudo" name="pseudo" type="text" placeholder="Pseudo"
                        required>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <textarea matInput [(ngModel)]="comment.content" name="content" placeholder="Votre commentaire..."
                        rows="3" required></textarea>
                </mat-form-field>
                <button mat-button color="primary" class="submit" [disabled]="!formDirective.form.valid">Poster</button>
            </div>
        </form>

        <mat-card class="example-card" *ngIf="isComment"> 
            <mat-card-content *ngFor="let comm of allComment">
                <p>
                    <mat-card-title> <h6>{{comm.pseudo}}</h6></mat-card-title>
                    <mat-card-subtitle>Le {{comm.createdOn | date:"dd/MM/yyyy"}} à {{comm.createdOn | date:"hh:hh"}} </mat-card-subtitle>
                   <span class="comment-content">
                    {{comm.content}}
                   </span> 
                    <mat-divider [inset]="true"></mat-divider>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>